.data-list-view-header .table-responsive .top .dataTables_filter label::after {
    left: auto;
	right: 15px !important;
}
.clean-input {
    left: auto !important;
    right: 10px;
}
@media (max-width: 550px) {
    .header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu {
        left: auto !important;
        right: 0 !important;
        transform: translateX(60%) !important;
    }
}
.btn-searchTable{
    transform: rotate(360deg);

}
.searchTable {
    right: 0;
    left: unset !important;
    transform: translateX(100%) !important;
}
.searchTable.active{
    transform: translateX(0) !important;
}
select.form-control:not([multiple='multiple']) {
    background-position: right !important;
    /*padding-inline-end: 15px;*/
}
.clear-input {
    left: unset !important;
    right: 10px !important;
}
.parent-input-date::after {
    right: unset ;
    left: 10px;
}
body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    transform: rotate(180deg) scaleX(-1) !important;
}